.active > a {
  color: #fff;
  background-color: #5e50a1;
  border-color: #5e50a1;
}

.section {
  background-color: #e5e5e5;
}
.mainContent {
  height: 145vh;
  position: relative;
  top: 60px;
}
.titleContent {
  background-color: #5e50a1;
  height: 60px;
  color: white;
  position: relative;
  align-items: center;
}
.divSearch {
  display: flex;
  position: relative;
  border-radius: 12px;
}
.search {
  height: 60px;
  width: 70%;
  border-radius: 9px;
  border: none;
}
.divError {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.error {
  width: 98%;
  background-color: white;
  padding: 0px 0px;
  text-align: center;
  border-radius: 9px;
}
.search[type='text'] {
  padding-left: 20px;
}
.search[type='text']:focus {
  outline: none;
  background-color: transparent;
}
.iconSearch {
  cursor: pointer;
  position: relative;
  top: 15px;
}
.divLine {
  position: relative;
  top: 5px;
  height: 50px;
  border-right: 2px double #9ea0a5;
  margin-right: 30px;
}
.divSort {
  position: relative;
  top: 15px;
  margin-right: 40px;
}
.sort {
  border: none;
  outline: none;
}
.buttonSearch {
  height: 50px;
  width: 120px;
  background-color: #5e50a1;
  border: none;
  border-radius: 9px;
  top: 5px;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 412px) {
  .mainContent {
    height: 80vh;
  }

  .iconSearch {
    display: none;
  }
  .divLine {
    display: none;
  }
  .buttonSearch {
    height: 30px;
    right: 10px;
    top: 15px;
  }
}
