.section {
  background-color: #e5e5e5;
}
.mainContent {
  height: 150vh;
  position: relative;
  top: 60px;
}
.background {
  height: 300px;
  width: 100%;
  background-color: #5e50a1;
  position: relative;
}

/* Main */
.content {
  position: absolute;
  top: 90px;
  width: 100%;
  display: flex;
}

/* Left */
